# Please keep each section in :sort order.

# Editors
*.swp

# Python version managed by pyenv.
.python-version

# Answers for each puzzle.
answer_*.txt

# Temporary input for puzzle examples.
example.txt
